{% load i18n %}
<div class="footer__wrapper">
    <div class="footer__main">
        <div class="footer__main__block">
            <span class="footer__main__block__logo">
                Маф-Строй
            </span>
            <div class="footer__main__block__socials">
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="footer__main__block">
            <div class="footer__main__block__contact">
                <i class="fa fa-map-marker"></i>
                <span>
                    {% blocktrans %}
                    г. Херсон, ул. Илюши Кулика, 10
                    {% endblocktrans %}
                </span>
            </div>
            <div class="footer__main__block__contact">
                <i class="fa fa-phone"></i>
                <span>
                <a href="tel:+380954529840"
                style="text-decoration: none;
                color: white;">
                    +38 (095)-452-98-40
                </a>

                </span>
            </div>
            <!-- <div class="footer__main__block__contact">
                <i class="fa fa-phone"></i>
                <span>
                    Город, ул. Какая-то улица, дом 25
                </span>
            </div> -->
        </div>
        <!-- <div class="footer__main__block">

        </div> -->
    </div>
    <div class="all__rights">
        <span>
            {% blocktrans %}
            Все права защищены © 2020
            {% endblocktrans %}
        </span>
    </div>
</div>