{% extends './base.html' %}
{% load static %}
{% load extras %}
{% load i18n %}

{% block content %}


<div class="product__page__wrapper">
    <div class="product__page__container">
        <div class="product__page__container__image">

            {% comment %} {{ item.itemimage_set.all|length }} {% endcomment %}


            {% if item.itemimage_set.all|length > 1 %}

            <div class="product__page__container__image__toslide
            owl-carousel owl-theme">
            
            {% for img in item.itemimage_set.all  %}

            {% modify_imgurl img.imgurl.url as imgurl %}
            
            <img src="{{ imgurl }}" 
             alt="">

             {% endfor %}
            </div>

             {% comment %} <span class="prev_1_1" id="prev_1">
                <i class="gg-chevron-left"></i>
            </span>
            <span class="next_1_1" id="next_1">
                <i class="gg-chevron-right"></i>
            </span>  {% endcomment %}
                {% else %}
                <div class="">
            
                {% for img in item.itemimage_set.all  %}

                {% modify_imgurl img.imgurl.url as imgurl %}
            
                <img src="{{ imgurl }}"
                alt="">

             {% endfor %}
             </div>
            {% endif %}

        </div>
        <div class="product__page__container__info">
           <span class="product__page__container__info__name">
                {{ item.name }}
           </span>
           <span class="product__page__container__info__category">
                {{ item.category.name }}
           </span>
           <span class="product__page__container__info__price">
           от 
            <span>
                {{ item.price }} грн/м2
            </span>
           </span>
           <div class="call__button__1 green">
                <span class="#call__button__1">
                <i class="fa fa-phone-alt"></i>
                {% blocktrans %}Заказать звонок{% endblocktrans %}
                </span>
           </div>
           <div class="product__page__container__info__features">
                <div class="product__page__container__info__features__title">
                    <span>
                        {% blocktrans %}Характеристики{% endblocktrans %}
                    </span>
                </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Размер:{% endblocktrans %}
                        <span>
                            {{ item.size }}
                        </span>
                    </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Внутренняя высота:{% endblocktrans %}
                        <span>
                            {{ item.h_in }}
                        </span>
                    </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Внешняя высота:{% endblocktrans %}
                        <span>
                            {{ item.h_out }}
                        </span>
                </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Экстерьер:{% endblocktrans %}
                        <span>
                            {{ item.eksterier }}
                        </span>
                </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Интерьер:{% endblocktrans %}
                        <span>
                            {{ item.interier }}
                        </span>
                </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Двери, Окна:{% endblocktrans %}
                        <span>
                            {{ item.doors }}
                        </span>
                </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Пол:{% endblocktrans %}
                        <span>
                            {{ item.floor }}
                        </span>
                </div>
                <div class="product__page__container__info__features__item">
                    {% blocktrans %}Электрика:{% endblocktrans %}
                        <span>
                            {{ item.electrik }}
                        </span>
                </div>
           </div>
        </div>
    </div>
</div>


<script>

</script>

{% endblock content %}



