{% load static %}
{% load i18n %}
<div class="about__us__wrapper">
<img class="about__us__wrapper__img"
src="{% static 'images/slider1.jpeg' %}" alt="">
<div class="about__us__wrapper__bg">
</div>
 <div class="category__blocks__title white" id="aboutus">
    <span style="">
        {% blocktrans %}О нас{% endblocktrans %}
    </span>
</div>

<div class="about__container">
    {% blocktrans %}
    Маф-Строй
     - это большая команда высококлассных специалистов с более чем 10-летним опытом, готовых воплотить Вашу мечту в реальность! 
     {% endblocktrans %} 
     <p>
     {% blocktrans %}
     Мы предоставляем полный спектр услуг, начиная с подбора необходимой именно Вам конструкции , подготовкой  макета или проекта и заканчивая созданием МАФа и доставкой на место! 
     {% endblocktrans %}
     </p>
     <p>
     {% blocktrans %}
     Заказ материалов осуществляется напрямую от заводов-изготовителей, что даёт возможность  значительно снизить себестоимость готовой продукции! Более 200 выполненных объектов различной сложности, клиенты по всей стране и за рубежом. 
     {% endblocktrans %}
     </p>
     {% blocktrans %}
     Наши услуги позволяют в малые сроки открыть своё дело, построить собственный дом или просто реализовать любую, даже самую необычную идею!  Это основа для светлого будущего, построенная вручную. 
     {% endblocktrans %}
     
</div>




</div>
