{% load static %}
{% load extras %}
{% load i18n %}

<div class="category__blocks">
    <div class="category__blocks__title" id="catalog">
    <span>
        {% blocktrans %}Каталог{% endblocktrans %}
        </span>
    </div>
    <div class="category__blocks__items">

        {% for category in categories  %}
        
         <a class="category__blocks__item"
         href="{% url 'products:category' category.id %}">
         <div class="category__blocks__item__darken">
         </div>
            {% modify_imgurl category.imgurl.url as imgurl %}
            <img src="{{ imgurl }}" 
            alt="">
            <span>
                {{ category.name }}
            </span>
        </a>

        {% endfor %}

       
    </div>
</div>