{% load static %}
{% load i18n %}
<div class="comments__container">

<div class="category__blocks__title">
    <span>
    {% blocktrans %}Отзывы клиентов{% endblocktrans %}
    </span>
</div>

<div class="comments__cards">


    <div class="comments__card">
        <div class="comments__card__img">
            <img src="{% static 'images/comments/com1.jpeg' %}" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    {% blocktrans %}Евгений Байда{% endblocktrans %}
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    {% blocktrans %}45 лет{% endblocktrans %}
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                {% blocktrans %}
                    Спасибо ребятам maf_stroy ,выполненили свою работу качественно!И не ожидал ,что будет это так быстро!Спасибо,буду обращаться!
                {% endblocktrans %}
                </span>
            </div>
        </div>
    </div>
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="{% static 'images/comments/com2.jpeg' %}" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    {% blocktrans %}Игорь Рыбаков{% endblocktrans %}
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    {% blocktrans %}
                    32 года 
                    {% endblocktrans %}
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    {% blocktrans %}
                    Довольный работой,все четко и быстро!Был приятно удивлен!Отдельное спасибо за подбор цвета фасада получилось супер💥И для моего бизнеса важно детали ☝️
                    {% endblocktrans %}
                </span>
            </div>
        </div>
    </div>
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="{% static 'images/comments/com3.jpeg' %}" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    {% blocktrans %}
                    Андрей Фролов
                    {% endblocktrans %}
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    {% blocktrans %}
                    49 лет  
                    {% endblocktrans %}
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    {% blocktrans %}
                    Хочу поблагодарить Вашу организацию maf_srtoy помогли определиться с выбором и сделали все классно👍🏼Хорошо,что мне Вас посоветовали!
                    {% endblocktrans %}
                </span>
            </div>
        </div>
    </div>
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="{% static 'images/comments/com4.jpeg' %}" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    {% blocktrans %}Евгений Гриневский{% endblocktrans %}
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    {% blocktrans %}
                    29 лет  
                    {% endblocktrans %}
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    {% blocktrans %}
                    Спасибо maf_stroy за проделанную работу и продуманность до мелочей!Теперь работа в удовольствие и в комфорте!То,что нужно👌
                    {% endblocktrans %}
                </span>
            </div>
        </div>
    </div>
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="{% static 'images/comments/com5.jpeg' %}" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    {% blocktrans %}Устин Беляев{% endblocktrans %}
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    {% blocktrans %}
                    47 лет  
                    {% endblocktrans %}
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    {% blocktrans %}
                    Благодарим Вашу команду,все сделали по требованию!Молодцы!
                    {% endblocktrans %}
                </span>
            </div>
        </div>
    </div>
    <div class="comments__card">
        <div class="comments__card__img">
            <img src="{% static 'images/comments/com6.jpeg' %}" alt="">
        </div>
        <div class="comments__card__info">
            <div class="comments__card__info__title">
                <span>
                    {% blocktrans %}Иван Нестеров{% endblocktrans %}
                </span> <br>
                
                <span class="comments__card__info__title__sub">
                    {% blocktrans %}
                    28 лет  
                    {% endblocktrans %}
                </span>
            </div>
            <div class="comments__card__info__desc">
                <span>
                    {% blocktrans %}
                    Выражаю благодарность 🙏🏼 за качественно выполненную работу!Мы остались довольны,будем обращаться еще и рекомендовать Вас как хороших специалистов!
                    {% endblocktrans %}
                </span>
            </div>
        </div>
    </div>
    

</div>

<div class="inline__arrows">
<span class="arrow__main"
id="comments_left">
    <i class="gg-chevron-left"></i>
</span>
<span class="arrow__main"
id="comments_right">
    <i class="gg-chevron-right"></i>
</span>
</div>

</div>
