<div class="contacts__block__main">


<!-- <div class="category__blocks__title" id="ourcontacts">
    <span>
    Контакты
    </span>
</div> -->

    <div class="contact__info__block">
        <!-- <div class="contact__info__block__main">
            <div class="contact__info__block__main__content">
                <div class="contact__info__block__main__content__name">
                    МАФ-Строй
                </div>
                <a class="contact__info__block__main__content__phone"
                href="tel:+380954529840">
                    +38 (095)-452-98-40
                </a>
                <div class="contact__info__block__main__content__address">
                    г. Херсон, ул. Илюши Кулика, 10
                </div>
                
            </div>
        </div> -->
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2738.7034139871494!2d32.59221771536965!3d46.65237197913294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c41a9af3fdf9a3%3A0x1b5f334e47f59984!2z0J3QuNC60L7Qu9Cw0LXQstGB0LrQvtC1INGILiwgMzAsINCl0LXRgNGB0L7QvSwg0KXQtdGA0YHQvtC90YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCwLCA3MzAwOQ!5e0!3m2!1sru!2sus!4v1602015067289!5m2!1sru!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>     -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2738.6709845500113!2d32.614883315627566!3d46.65301237913302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c41aa0bfa0e815%3A0xe275cc340c4182!2z0YPQuy4g0JjQu9GO0YjQuCDQmtGD0LvQuNC60LAsIDEwLCDQpdC10YDRgdC-0L0sINCl0LXRgNGB0L7QvdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgNzMwMDA!5e0!3m2!1sru!2s!4v1614425277570!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    

</div>