{% load i18n %}
<div class="contacts_container_wrapper__main">
    <div class="contacts_container_wrapper">
        <div class="contacts_content1">
            <div class="contacts__title">
                {% blocktrans %}Наши контакты{% endblocktrans %}
            </div>
            <!-- <div class="contact__item">
                <div class="contact__item__icon">
                    <i class="fa fa-route"></i>
                </div>
                <div class="contact__item__text">
                    Симферополь, ул. Киевская, д. 126
                </div>
            </div> -->
            <div class="contact__item">
                <div class="contact__item__icon">
                    <i class="fa fa-phone-alt"></i>
                </div>
                <div class="contact__item__text">
                    <a href="tel:+380954529840">
                    +38 (095)-452-98-40
                    </a>
                </div>
            </div>
            <div class="contact__item">
                <div class="contact__item__icon">
                    <i class="fa fa-map-marked-alt"></i>
                </div>
                <div class="contact__item__text">
                    <a>
                        {% blocktrans %}г. Херсон, ул. Илюши Кулика, 10{% endblocktrans %}
                    </a>
                </div>
            </div>
            
        </div>
        <div class="contacts_content2">
            <div class="contacts__title2">
                {% blocktrans %}Сделаем Ваш проект еще лучше!{% endblocktrans %}
            </div>

            <input name="call_phone2"
            class="contact__form__input"
                type="text" placeholder="Телефон*">
            <div class="contact2_button contact__form">
                <span class="nice_button">
                    <span id="send_call_phone2">
                    {% blocktrans %}Узнать как{% endblocktrans %}
                    </span>
                </span>
            </div>
        </div>
    </div>
    </div>