{% load i18n %}
<div class="dignity__wrap">
<div class="category__blocks__title">
    <span>
    {% blocktrans %}Наши преимущества{% endblocktrans %}
    </span>
</div>
    <div class="dignity__container">
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                {% blocktrans %}Цена фиксирована{% endblocktrans %}
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    {% blocktrans %}
                    Цена не меняется на протяжении
                    строительства. Мы составляем план и коммерческое предложение, 
                    исходя из всех Ваших пожеланий.
                    {% endblocktrans %}
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    {% blocktrans %}Техническое задание{% endblocktrans %}
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    {% blocktrans %}
                    Может быть полностью Вашим или доработано после
                     консультации наших специалистов.
                     {% endblocktrans %}
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    {% blocktrans %}
                    Качественные материалы
                    {% endblocktrans %}
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    {% blocktrans %}
                    Для производства МАФ используем 
                    сертифицированные материалы, заказанные напрямую 
                    с заводов-изготовителей.
                    {% endblocktrans %}
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    {% blocktrans %}Специалисты своего дела{% endblocktrans %}
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    {% blocktrans %}
                    Мы за разделение труда. Над каждым проектом 
                    работают специалисты узкого профиля.
                    {% endblocktrans %}
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    {% blocktrans %}Любой вид оплаты{% endblocktrans %}
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    {% blocktrans %}
                    Наличный или безналичный расчёт, с НДС, без НДС
                    {% endblocktrans %}
                </span>
            </span>
        </div>
        <div class="dignity__container__item">
            <span class="dignity__container__item__title">
                <span>
                    {% blocktrans %}Своя доставка{% endblocktrans %}
                </span>
            </span>
            <span class="dignity__container__item__desc">
                <span>
                    {% blocktrans %}
                    Мы самостоятельно выполним транспортировку габаритного и негабаритного объекта. 
                    Вам не нужно будет тратить кучу времени и средств на  логистику.
                    {% endblocktrans %}
                </span>
            </span>
        </div>
        
    </div>
</div>