{% load static %}

<div class="page__main__slider">
    <div class="main__slider__item">
        <img src="{% static 'images/slider/1.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/2.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/3.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/4.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/5.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/6.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/7.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/8.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/9.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/10.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/11.jpeg' %}" alt="">
    </div>
    <div class="main__slider__item">
        <img src="{% static 'images/slider/12.jpeg' %}" alt="">
    </div>
    
    
</div>

<span class="prev">
    <i class="gg-chevron-left"></i>
</span>
<span class="next">
    <i class="gg-chevron-right"></i>
</span>
   